@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    min-width: 100vw;
    min-height: 100vh;
    background:url("../imagem/imagem\ para\ site.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: rgb(255, 255, 255);
    font-family: "Archivo", sans-serif;
}


.center{
    text-align: center;
}


.separator-section {
    margin-top: 150px;
    margin-left: 25px;
}


.separador-games{
    margin-top: 250px;
    margin-left: 400px;

}

.separador-games span {
    margin-right: 150px;

}


.lista-jogos{
    margin-top: 100px;
    margin-left: 600px;
   
}