@import url('<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">');

body{
    min-width: 100vw;
    min-height: 100vh;
    background:url("../imagem/imagem\ para\ site.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: rgb(255, 255, 255);
    font-family: "Archivo", sans-serif;
}


.center{
    text-align: center;
    font-size: x-large;
}



.separator-explicação {
    margin-top: 145px;
    margin: left 10px;
    font-size: 14px;
}


.separador-games{
    margin-top: 250px;
    margin-left: 400px;

}

.separador-games span {
    margin-right: 150px;

}


.lista-jogos{
    margin-top: 100px;
    margin-left: 600px;
    list-style: none;

}
.lista-jogos li{
    list-style: none;
    color:white;
    text-decoration: none;
    font-size: x-large;
}

.nome-grupo{
    margin-top:40px;
    margin-left: 10px;
    font-size:10px;
}